.card-header-logo {
  margin: -32px;
}

.mat-card-header {
  min-height: 100px;
}

.mat-card {
  min-width: 320px;
}

.emergency-button {
  float: right;
  color: red !important;
}

.mat-card-content {
  height: 0;
  margin: 0;
}